/*main*/
.main {
    border-bottom: 1px solid #4D535E;
    height: 84px;
    display:flex;
    align-items: center;
}
/*header*/
.container {
    padding:2px 16px;
    height: 80px;
    margin-left: 191.5px;
    margin-right: 191.5px;
    display:block;
    box-sizing: border-box;

}
.header-main {
    align-items: center;
    display:flex;
    color: rgb(172 172 172);
    box-sizing: border-box;
    position:relative;
    justify-content: space-between;
    height:80px;
}
.header_left {
    display:flex;
    align-items: center;
    height: 80px;
    width: 775px;
    flex: 1;
    box-sizing: border-box;
    color: rgb(172 172 172);
    justify-content: start;
}
.logo {
    width: 106px;
    height: 35px;
    padding-right: 32px;
    margin-right: 17px;
    border-right: 1px solid #4D535E;
}
.nav_left {
    color: #acacac;
    padding: 28px 12px;
    margin: 0 8px;
    font-size: 16px;
}
.header_right {
    display:flex;   
    align-items: center;
    margin: 0 -5px;
    height: 40px;
    width: 633.5px; 
    box-sizing: border-box;
    justify-content: flex-end;
}
.nav_right_search {
    height: 40px;
    width: 270px;
    display:flex; 
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding:0px;
    font-weight:400;
    font-size: 14px;
    color: rgb(172 172 172);

}
.search {
    position:relative;
    height: 40px;
    width: 270px;
    display:block;
    margin:0;
    box-sizing: border-box;
    color:rgb(172 172 172);
    
}
.search-here {
    height:38px;
    width:218px;
    padding-right: 35px;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 15px;
    outline:none;
    position:relative;
    background-color: #00000000;
    border-color: #ffffff14;
    color:rgba(0 0 0 0 );
    display:inline-block;
    text-align: start;
    box-shadow: none;

}
.search-icon {
    height: 25.5px;
    width: 17px;
    color: #A1A1A2
    font-weight: 400;
    position:relative;
    right: 15px;
    box-sizing: border-box;
    
}
.search-1 {
    position:relative;
    right: 15px;
    top: 5px;
    font-size: 16px;

}

    
.container_icon_box{
    height:36px;
    width: 141px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #2899d8
    border: none;
    
    
}
.icon_box {
    display:block;
    font-size: 14px;
    box-sizing: border-box;
    width:141px;
    height:36px;
    color:rgb(172 172 172);
    font-weight: 400;
    margin-right: ;
    align-items: center;
}
.btn_wallet {
   display:inline-block;
   font-weight: 500;
   text-align: center;
   font-size: 16px;
   border-radius: 10px;
   background:#212e48;
   color: #ffffff;
   padding:6px 14px;
   width: 113px;
   height: 24px;
   box-shadow: none;
   outline:none; 
   border:none;

   
}
.bell_icon_box {
    box-sizing: border-box;
    display:block;
    font-size: 14px;
    color: rgb(251 249 249);
    height:40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 0px;
}


.bell_icon_link {
    height: 38px;
    width: 38px;
    display:flex;
    margin-top: 10px;
    margin-left: 10px;

}
.sun_icon_box {
    box-sizing: border-box;
    display:flex;
    font-size: 14px;
    height:38px;
    width: 38px;
    align-items: center
    
    
}
.sun_icon {
    height: 25px;
    width: 25px;
    color: #f6f6f6;
    margin-bottom: 5px;
    filter: invert(0.7);
    
}
/*slide body-1*/
.slider-header {
    height: 589.4px;
    width: 1823px;
    padding-top: 100px;
}
.container-body {
    padding: 2px 16px;
    margin: 0 191.5px;
    height: 585.406px;
    width: 1408px;
}
.slideritem-body {
    height: 585.406px;
    width: 1423px;
    margin: -7.5px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    color: rgb(172 172 172);
}

.leftbody-1 {
    height: 405.776px;
    width: 592.91px;
    padding: 0 7.5px;
    box-sizing: border-box;
    display: block;


}
.title-disvover {
    display:block;
    font-size: 60px;
    font-weight: 400;
    height:221.5px;
    width: 578px;
    margin-left: 20px;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 1.23;
    margin: 0px;
    margin-bottom: 20px;
}
.title-partner {
    height: 70px;
    width: 578px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(172 172 172);
    display:block;
    margin-top: 0;
}
.button-getcre {
    position:relative;
    height: 68px;
    width: 591.9px;
    display: block;
    color: rgb(172 172 172);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    margin: -7px;
    line-height: 21px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: middle;
    
}
.button-getstarted { 
    min-width: 160px;
    padding: 15px 34px;
    margin: 7px;
    background-color: rgb(0 163 255);
    display:inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: none;
    border: 0 none;
    outline: none;
    height: 24px;
    width: 92px;

}
.button-create {
    display:inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: none;
    border: 0 none;
    outline: none;
    padding: 15px 34px;
    margin: 7px;
    background-color: rgb(33 46 72);
    color:#ffffff;
    min-width: 160px;
    height: 24px;
    width: 92px;
}
.rightbody-1 {
    height:585.4px;
    width: 578px;
    padding: 0 7.5px;
    margin-left: 118.58px;
    box-sizing: border-box;
    display: block;
}
.slider-thumbnail {
    height:585.4px;
    width: 578px;
    border: 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}
.slider-thumbnail img {
    height: 585px;
    width:auto;
}
/*slider-body2*/
.slider-body2 {
    height: 599.5px;
    width: 1823px;
    padding-top: 100px;
    box-sizing: border-box;
}
.slider-body2-container {
    padding: 2px 16px;
    height: 585.5px;
    height: 1408px;
    display: block;
    margin: 0 191.5px;
}
.live-and-row {
    height: 36.5px;
    width: 1423px;
    margin: 0 -7.5px 50px -7.5px;
    display: flex;
    font-weight: 400;
    font-size: 14px;

}
.live-bidding {
    position: relative;
    display:block;
    box-sizing: border-box;
    color: rgb(255 255 255);
    font-size: 32px;
    font-weight: 500;
    height: 37px;
    width: 1374px;
    padding-left: 15px;
    margin:0 0 0 19px;
    

}  
.slider-sticky-body2 {
    height: 52px;
    width: 150px;
    display: flex;
    justify-content: space-between;
} 
.stick-left-arrow {
    margin-left: 20px;
    opacity: 1;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background-color: #1b1b27;
    width: 50px;
    height: 50px;
}
.stick-left-arrow2 {
    margin-right: 20px;
    opacity: 1;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background-color: #1b1b27;
    width: 50px;
    height: 50px;
}
